<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        /* latin */
        @font-face {
            font-family: 'Gill Sans';
            font-style: normal;
            font-weight: 400;
            src: url("http://www.iipl.work/fonts/Gill%20Sans.otf") format("opentype");
        }

        @font-face {
            font-family: 'Gill Sans Bold';
            font-style: normal;
            font-weight: 400;
            src: url("http://www.iipl.work/fonts/Gill%20Sans%20Bold.otf") format("opentype");
        }

        @page {
            margin: 0 !important;
            padding: 0 !important;
        }

        html {
            zoom: 0.9;
        }

        body {
            font-family: 'Gill Sans';
            padding-top: 0;
        }

        .align-body tr td {
            page-break-inside: always !important;
        }
    </style>
</head>

<body>


    <table border="0" style="border-collapse:collapse;width:100%;margin:auto;font-size: 13px;" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style=" padding: 0; width:100%;font-size: 11px; ">
                    <table style="padding: 5px ;width: 100%;font-size: 10px; margin-bottom: 5px;position: relative;">
                        <tbody>
                            <tr>
                                <td style="width: 60%;">
                                    <img src=<%= bankLogo %> alt="" class="logo"
                                        style="widows: auto; height:60px">
                                </td>
                              
                                    <td style="text-align:left;width:100%;">
                                        <table style="border-collapse:collapse;letter-spacing: .8px;font-weight: 600; font-size: 13px;border-radius: 15px;">
                                            <tbody>
                                                  
                                                <tr>
                                                    
                                                    <td><b>Address : </b>ABYSETAA, Addis Ababa,Ethiopia
                                                        HQ Buildling,The Gambia Road,Legehar Addis Ababa, Ethiopia. </td>
                    
                                                </tr>
                                              
                                            
                    
                                            </tbody>
                    
                    
                                        </table>
                    
                                    </td>
                
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
           
            <tr>
                <td>
                    <hr style="border: 2px solid #eea62a;margin:0;">
                </td>
                <td>
                    <hr style="border: 1px solid #000000;margin:0;">
                </td>
            </tr>
            <tr>
                <td> <br></td>
            </tr>
           

            <tr>
                <td style="text-align:left;width:100%;">
                    <table style="border-collapse:collapse;letter-spacing: .8px;width: 100%;font-weight: 600; font-size: 11px;background-color: #eea62a;color: #ffffff;border-radius: 15px;">
                        <tbody>
                            <tr>
                                <td style="width: 20%;padding: 10px 15px 5px 15px;">Name : </td>
                                <td style="padding: 10px 15px 5px 15px;"><%= customer.name %></td>

                            </tr>
                            <tr>
                                <td style="width: 20%;padding: 5px 15px 5px 15px;">Account : </td>
                                <td style="padding: 5px 15px 5px 15px;"><%= customer1.accountNo%></td>

                            </tr>
                            <tr>
                                <td style="width: 20%;padding: 5px 15px 5px 15px;">Account Type : </td>
                                <td style="padding:5px 15px 5px 15px;">Saving Account Staff</td>

                            </tr>
                            <tr>
                                <td style="width: 20%;padding: 5px 15px 5px 15px;">Currency : </td>
                                <td style="padding: 5px 15px 5px 15px;"><%= customer1.currency%> </td>

                            </tr>
                            <tr>
                                <td style="width: 20%;padding: 5px 15px 5px 15px;">Addressss : </td>
                                <td style="padding: 5px 15px 5px 15px;"><%= customer.address1 %>, <%= customer.address2 %>, <%= customer.address3 %> </td>

                            </tr>
                           


                        </tbody>


                    </table>

                </td>



            </tr>
            <tr>
                <td>
                    <table 
                    style="border-collapse:collapse;width:100%;font-size: 11px;border:3px solid #eea62a;margin-top: 15px; "
                    cellpadding="0" cellspacing="0">
            
                    <tbody style="vertical-align:baseline;" class="align-body">
                        <tr style="background-color: #dcd9d9;color: #000000;">
                            <th style="text-align:left;       border-right: 1px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 12px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="50">Booking<br>Date</th>
                            <th style="text-align:left;       border-right: 1px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 12px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="50">Value Date</th>
                            <th style="text-align:left;       border-right: 1px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 12px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="90">Transaction Ref</th>
                            <th style="text-align:left;       border-right: 1px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 12px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="90">Transaction Details</th>
            
                            <th style="text-align:right;       border-right: 1px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 12px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="55">Withdrawl</th>
                            <th style="text-align:right;       border-right: 1px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 12px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="55"> Deposit</th>
                            <th style="text-align:right;       border-right: 1px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 12px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="55"> Closing Bal</th>
            
                        </tr>
                               
                        <% for(var i=0; i < data.length; i++) { %>
            
                        <tr style="font-weight: 600;color: #998e8a;">
                            <td style="font-size: 10px;border-right: 1px solid #000000;color:#000; border-right: 1px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: center">
                                <%= data[i].StatementBookingDate %>
                            </td>
                            <td style=" font-size: 10px;border-right: 1px solid #000000;color:#000; border-right: 1px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: center">
                                    
                                <%= data[i].StatementValueDate %>
                                
                            </td>
                            <td style="font-size: 10px; border-right: 1px solid #000000;color:#000; border-right: 1px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: left">
                                <%= data[i].StatementTxnReference %>
                            </td>
                          
                            <td style="font-size: 10px; border-right: 1px solid #000000;color:#000; border-right: 1px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: left" >
                              
                               <% if(data[i].StatementNarrative.length > 1) { %>
                                
                                    <% for (let index = 0; index < data[i].StatementNarrative.length; index++) { %>
                  
                
                                        <%= data[i].StatementNarrative[index] %> <br> 
                                    <% } %>
                                <% }  %>   
                                
                                <% if(data[i].StatementNarrative.length == 1) { %>
                                    <%= data[i].StatementNarrative[0] %>
                                <% }  %> 
                                
                                <% if(data[i].StatementChequeNumber) { %>
                                    <% if(data[i].StatementNarrative.length > 1){ %>
                                        Chq No:<%= data[i].StatementChequeNumber %>
                                    <% }else{  %>    
                                    <br>Chq No:<%= data[i].StatementChequeNumber %>
                                    <% }  %> 
                                <% } %> 
                                
                            </td>
                            <td style=" font-size: 10px; border-right: 1px solid #000000;color:#000; border-right: 1px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: right;">
                                <%= data[i].StatementWithdrawal %>
                            </td>
                            <td style=" font-size: 10px; border-right: 1px solid #000000;color:#000; border-right: 1px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: right;">
                                <%= data[i].StatementLodgement %>
                            </td>
                            <td style="font-size: 10px; padding: 8px 3px; border-right: 1px solid;color:#000;border-right-color: #998e8a;  border-bottom:0;text-align: right">
                                <%= data[i].StatementRunningBalance %> 
                            </td>
                            
                        </tr>
                       
                        <% } %>
                    </tbody>
                </table>
                </td>
            </tr>
            <tr>
                <td> <br></td>
            </tr>
            <tr>
                <td style="text-align:left;width:100%;">
                    <table style="border-collapse:collapse;letter-spacing: .8px;font-weight: 600; font-size: 13px;border-radius: 15px;">
                        <tbody>
                            
                            <tr>
                                
                                <td><b>Disclaimer :</b>This statement is generated by system and does not required any physical signature. If you have any discrepancy with transaction, please communicate with bank in 10 business days time.</td>

                            </tr>
                            
                        

                        </tbody>


                    </table>

                </td>



            </tr>
            

        </tbody>

    </table>


   

    <div id="pageFooter">

        <center style="font-size: 13px; margin-top: 10px;"> <%= pageCount %> of <%= totalPages %></center>

    </div>

</body>

</html>