<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        /* latin */
        @font-face {
            font-family: 'Gill Sans';
            font-style: normal;
            font-weight: 400;
            src: url("http://www.iipl.work/fonts/Gill%20Sans.otf") format("opentype");
        }

        @font-face {
            font-family: 'Gill Sans Bold';
            font-style: normal;
            font-weight: 400;
            src: url("http://www.iipl.work/fonts/Gill%20Sans%20Bold.otf") format("opentype");
        }

        @page {
            margin: 0 !important;
            padding: 0 !important;
        }

        html {
            zoom: 0.9;
        }

        body {
            font-family: 'Gill Sans';
            padding-top: 0;
        }

        .align-body tr td {
            page-break-inside: always !important;
        }
    </style>
</head>

<body>


    <table border="0" style="border-collapse:collapse;width:100%;margin:auto;font-size: 13px;" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style=" padding: 0; width:100%;font-size: 11px; ">
                    <table style="padding: 5px ;width: 100%;font-size: 10px; margin-bottom: 5px;position: relative;">
                        <tbody>
                            <tr>
                                <td style="width: 60%;">
                                    <img src='https://s1.shzy.in/bs/bankLogo.png' alt="" class="logo"
                                        style="widows: auto;; height:90px">
                                </td>
                              
                                    <td style="text-align:left;width:100%;">
                                        <table style="border-collapse:collapse;letter-spacing: .8px;line-height:25px;font-weight: 600; font-size: 13px;border-radius: 15px;">
                                            <tbody>
                                                    <tr>
                                                    
                                                            <td>Address :</td>
                            
                                                        </tr>
                                                <tr>
                                                    
                                                    <td>ABYSETAA, Addis Ababa,Ethiopia
                                                        HQ Buildling, </td>
                    
                                                </tr>
                                                <tr>
                                                    <td> The Gambia Road,Legehar Addis Ababa, Ethiopia.</td>
                                                </tr>
                                            
                    
                                            </tbody>
                    
                    
                                        </table>
                    
                                    </td>
                
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
           
            <tr>
                <td>
                    <hr style="border: 2px solid #eea62a;margin:0;">
                </td>
                <td>
                    <hr style="border: 1px solid #000000;margin:0;">
                </td>
            </tr>
            <tr>
                <td> <br></td>
            </tr>
            <tr style="text-align: center;">
                <td style="padding: 6px 0;background-color: #007bdc;color: #ffffff;font-size: 18px;font-weight: 600;letter-spacing: .8px; overflow: hidden;border-radius: 15px;padding: 1rem;">Customer Details</td>
            </tr>
            <tr>
                <td> <br></td>
            </tr>

            <tr>
                <td style="text-align:left;width:100%;">
                    <table style="border-collapse:collapse;letter-spacing: .8px;width: 100%;line-height:25px;font-weight: 600; font-size: 13px;background-color: #3c8bca;color: #ffffff;border-radius: 15px;">
                        <tbody>
                            <tr>
                                <td style="vertical-align: top;width: 20%;padding: 15px 15px 5px;">Name : </td>
                                <td><%= customer.name %></td>

                            </tr>
                            <tr>
                                <td style="vertical-align: top;width: 20%;padding: 0 12px 0px 15px;">CINC : </td>
                                <td><%= customer1.id %></td>

                            </tr>
                            <tr>
                                <td style="vertical-align: top;width: 20%;padding: 5px 12px 15px;">Address : </td>
                                <td><%= customer.address1 %>, <br> <%= customer.address2 %>, <br><%= customer.address3 %> </td>

                            </tr>


                        </tbody>


                    </table>

                </td>



            </tr>
            <tr>
                <td>
                    <table 
                    style="border-collapse:collapse;width:100%;font-size: 13px;border:3px solid #eea62a;margin-top: 15px; "
                    cellpadding="0" cellspacing="0">
            
                    <tbody style="vertical-align:baseline;" class="align-body">
                        <tr style="background-color: #cacaca;color: #000000;">
                            <th style="text-align:left;       border-right: 0.5px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 16px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="50">Booking<br>Date</th>
                            <th style="text-align:left;       border-right: 0.5px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 16px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="50">Value Date</th>
                            <th style="text-align:left;       border-right: 0.5px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 16px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="90">Transaction Ref</th>
                            <th style="text-align:left;       border-right: 0.5px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 16px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="90">Transaction Details</th>
            
                            <th style="text-align:right;       border-right: 0.5px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 16px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="55">Withdrawl</th>
                            <th style="text-align:right;       border-right: 0.5px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 16px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="55"> Deposit</th>
                            <th style="text-align:right;       border-right: 0.5px solid;border-right-color: #998e8a; color: #3c8bca; font-size: 16px; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                                width="55"> Closing Bal</th>
            
                        </tr>
                               
                        <% for(var i=0; i < data.length; i++) { %>
            
                        <tr style="font-size: 13px;font-weight: 600;color: #998e8a;">
                            <td style="border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: center">
                                <%= data[i].StatementBookingDate %>
                            </td>
                            <td style="border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: center">
                                    
                                <%= data[i].StatementValueDate %>
                                
                            </td>
                            <td style=" border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: left">
                                <%= data[i].StatementTxnReference %>
                            </td>
                          
                            <td style=" border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: left" >
                              
                               <% if(data[i].StatementNarrative.length > 1) { %>
                                
                                    <% for (let index = 0; index < data[i].StatementNarrative.length; index++) { %>
                  
                
                                        <%= data[i].StatementNarrative[index] %> <br> 
                                    <% } %>
                                <% }  %>   
                                
                                <% if(data[i].StatementNarrative.length == 1) { %>
                                    <%= data[i].StatementNarrative[0] %>
                                <% }  %> 
                                
                                <% if(data[i].StatementChequeNumber) { %>
                                    <% if(data[i].StatementNarrative.length > 1){ %>
                                        Chq No:<%= data[i].StatementChequeNumber %>
                                    <% }else{  %>    
                                    <br>Chq No:<%= data[i].StatementChequeNumber %>
                                    <% }  %> 
                                <% } %> 
                                
                            </td>
                            <td style="  border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: right;">
                                <%= data[i].StatementWithdrawal %>
                            </td>
                            <td style="  border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: right;">
                                <%= data[i].StatementLodgement %>
                            </td>
                            <td style="padding: 8px 3px; border-right: 0.5px solid;border-right-color: #998e8a;  border-bottom:0;text-align: right">
                                <%= data[i].StatementRunningBalance %> 
                            </td>
                            <!-- <td style=" border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: center">25-12-19</td>
                            <td style=" border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: center">5-12-19</td>
                            <td style=" border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: left">Opening Balance</td>
                            <td style=" border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: left">125646885745 </td>
                            <td style=" border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: right;">545478</td>
                            <td style=" border-right: 1px solid #000000; border-right: 0.5px solid;border-right-color: #998e8a; margin-bottom:2px;padding: 8px 3px; border-bottom:0;text-align: right;">4598856</td>
                            <td style="padding: 8px 3px; border-right: 0.5px solid;border-right-color: #998e8a;  border-bottom:0;text-align: right">4598856</td> -->
                        </tr>
                       
                        <% } %>
                    </tbody>
                </table>
                </td>
            </tr>
            <tr>
                <td> <br></td>
            </tr>
            <tr>
                <td style="text-align:left;width:100%;">
                    <table style="border-collapse:collapse;letter-spacing: .8px;line-height:25px;font-weight: 600; font-size: 13px;border-radius: 15px;">
                        <tbody>
                                <tr>
                                
                                        <td>Address :</td>
        
                                    </tr>
                            <tr>
                                
                                <td>ABYSETAA, Addis Ababa,Ethiopia
                                    HQ Buildling, </td>

                            </tr>
                            <tr>
                                <td> The Gambia Road,Legehar Addis Ababa, Ethiopia.</td>
                            </tr>
                        

                        </tbody>


                    </table>

                </td>



            </tr>
            <tr>
                    <td> <br></td>
                </tr>
            <tr style="text-align: center;font-size: 15px;">
                    <td>Page : 1 of 2</td>
                </tr>

        </tbody>

    </table>


   

    <div id="pageFooter">

        <center style="font-size: 13px; margin-top: 10px;"> {{page}} of {{pages}}</center>

    </div>

</body>

</html>