<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your Statement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <style>
        @page {
            margin: 2mm !important;
            padding: 0 !important;
        }

        body {
            padding: 2rem !important;
            font-family: 'Varela Round', sans-serif;
            padding-top: 0;
        }

        .first-table {
            margin: auto;
            /* background-color: gray; */
            width: 100%;
            text-align: center 
        }

        .second-table {
            border-collapse: collapse;
            max-width: 531px;
            height: auto;
            font-size: 13px;
            margin: auto;
            background-color: white;
        }

        .third-table {
            border-collapse: collapse;
            font-size: 13px;
            margin-left: 10px;
            margin-right: 10px;
            max-width: 480px;
            margin-bottom: 2rem;
            padding-bottom: 2rem
        }

        .img td:first-child {
            width: 100px;
        }

        .img img {
            width: 100px !important;
            height: 50px !important;
        }

        @media only screen and (max-width: 600px) {

            .third-table {
                margin-left: 0;

            }
        }
    </style>
</head>

<body>
    <table class="first-table" style="">
        <tbody>
            <tr>
                <td>
                    <table border="0" class="second-table" style="" cellpadding="0" cellspacing="0">

                        <tbody style="vertical-align:baseline; 
                        border: 2px solid #d9d9d9;">
                            <tr>
                                <td>
                                    <table class="third-table" border="0" cellpadding="0" cellspacing="0">

                                        <tbody style="vertical-align:baseline; text-align: left">
                                            <tr>
                                                <td style='padding:0 30px; text-align: center;font-weight: 700;color: gray'
                                                    cellpadding="0">
                                                    <img src="https://s1.shzy.in/bs/bankLogo.png" alt="banklogo", width="60%">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style='padding:0 30px; text-align: center;font-weight: 700;color: gray'
                                                    cellpadding="0">
                                                    <p style="margin:25px 0;">We understand your world</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://smart-statement.iipl.work/assets/images/bg/home.png" alt="" width="100%">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" style="border-collapse:collapse;width:100%;font-size: 13px; border-left:1px solid gray;
                                                               border-right:1px solid gray;border-bottom:1px solid gray ;margin-bottom: 2rem;"
                                                        cellpadding="0" cellspacing="0">

                                                        <tbody style="vertical-align:baseline;">
                                                            <tr>
                                                                <td style='padding:0 30px; text-align: center;font-weight: 700;color: gray'
                                                                    cellpadding="0">
                                                                    <a href="{{URL}}" style="padding:10px 0;color:#000;text-decoration:none"><p style="border: 2px solid #03672b;width: fit-content;margin: auto;padding: 10px;">View your Smart
                                                                        Statement</p></a>
                                                                    
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style='padding:0 30px;'>
                                                                    <p style="margin:15px 0 0" > Dear <b>"{{name}}" </b></p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style='padding:0 30px;'>
                                                                    <p style="margin:15px 0">Banking should be simple
                                                                        for you.</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style='padding:0 30px;text-align: justify;line-height: 22px''>
                                                                        Your SmartStatement was created with this in mind. Designed to make
                                                                        monthly expense
                                                                        tracking easier, here are some things you can do:
                                                                    </td>
                                                                </tr>
                                                            <tr>
                                                                <td style='padding:0 30px; text-align: center;font-weight: 700;color: gray'
                                                                    cellpadding="0">
                                                                    <a href="{{URL}}" style="padding:10px 0;color:#000;text-decoration:none"><p style="border: 2px solid #03672b;width: fit-content;margin: auto;padding: 10px;">View your Smart
                                                                        Statement</p></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style='padding:0 30px;font-weight: 900;'>
                                                                    <p style="margin: 0 0 11px;">How to Open your Smart
                                                                        Statement</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style='padding:0 30px;'>
                                                                    <p style="margin-top:25px;">Assuring you the best
                                                                        of our services
                                                                        at
                                                                        all times.</p>
                                                                    <p style="margin-bottom:25px;">Warm Regards,</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style='padding:0 30px;'>
                                                                    <ul style="line-height: 22px;padding-left:0;list-style: none;">
                                                                        <li>Abhay Aima</li>
                                                                        <li>Country Head - Gloabal Consumer Business,</li>
                                                                        <li>Private Banking & Distribution,</li>
                                                                        <li>Direct & Digital Banking,</li>
                                                                        <li>Retail Liabilities</li>

                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="line-height:18px">

                                                    <table border="0" style="border-collapse:collapse;width:100%;font-size: 11px; 
                                                        margin-bottom: 2rem;"
                                                        cellpadding="0" cellspacing="0">

                                                        <tbody style="vertical-align:baseline;">
                                                            <!-- <tr class="">
                                                                <td width='30%'>
                                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK97UpTF6cH9G-IDBWgtbOBl-C2fskXdWB387e5dnbbORl6fyGSg"
                                                                        alt="">

                                                                </td>
                                                                <td width='70%'>
                                                                    <p> Do not share your internet banking
                                                                        username/password or
                                                                        Credit/Debit
                                                                        Card number
                                                                        CVV/OTP via e-mail or over the phone</p>
                                                                </td>
                                                            </tr> -->
                                                            <tr>
                                                                <td>
                                                                    <p> Do not share your internet banking
                                                                        username/password or
                                                                        Credit/Debit
                                                                        Card number
                                                                        CVV/OTP via e-mail or over the phone</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan='2'>

                                                                    <p style="margin-bottom: 0">* Terms and conditions
                                                                        apply.</p>
                                                                    <p style="margin-top: 0">The Euromoney survey is
                                                                        conducted amongst
                                                                        our peers in the
                                                                        industry, which include
                                                                        private banks and wealth managers who were
                                                                        asked to identify
                                                                        the irms that they
                                                                        consider to be their top competitors</p>
                                                                    <p> For viewing your Smart Statement please change
                                                                        your browser/
                                                                        upgrade
                                                                        your browser to
                                                                        the latest version. Below is the list of
                                                                        browsers & version
                                                                        which are
                                                                        supported.</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan='2'>
                                                                    <ul style="line-height: 15px;padding-left:15px;list-style: decimal;">
                                                                        <li>SAFARI 9.0 or above</li>
                                                                        <li>OPERA 37.0 or above</li>
                                                                        <li>FIREFOX 9.0 or above</li>
                                                                        <li>CHROME 37.0 or above</li>
                                                                        <li>EDGE 9.0 or above</li>
                                                                        <li>IE 37.0 or above</li>

                                                                    </ul>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan='2' style="line-height: 15px;">
                                                                    <p>Statement is also available as an attachment in
                                                                        your Email in PDF
                                                                        format.</p>
                                                                    <p>If you are unable to view your statement in
                                                                        IE11.0 then kindly follow
                                                                        the below steps to view your statement on
                                                                        IE11.0</p>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan='2'>
                                                                    <ul style="line-height: 15px;padding-left:15px;list-style: decimal;">
                                                                        <li>Press Alt to display the IE menu</li>
                                                                        <li>Choose Tools Compatablity view settings</li>
                                                                        <li>Remove the checkmark next to display
                                                                            intanet sites in
                                                                            Compatablity view
                                                                        </li>
                                                                        <li>Choose Close</li>


                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan='2' style="line-height: 15px;">
                                                                    <p>If you are not the correct recipient of this
                                                                        mailer, please <a href="#"> Click
                                                                            here</a></p>
                                                                    <p>If yu do not wish to receive such e-mail
                                                                        communication from Bank of Abyssinia in the
                                                                        furture <a href="#"> Click here</a></p>
                                                                    <p style="margin-bottom:2rem">Please do not reply to this e-mail, this is sent
                                                                        from an unattended mail box. In
                                                                        case you hav any queries/responses, Please <a
                                                                            href="#"> Click here</a></p>
                                                                </td>
                                                            </tr>
                                                          
                                                        </tbody>
                                                    </table>


                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>




</body>

</html>