<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        /* latin */
        @font-face {
            font-family: 'Gill Sans';
            font-style: normal;
            font-weight: 400;
            src: url("http://www.iipl.work/fonts/Gill%20Sans.otf") format("opentype");
        }

        @font-face {
            font-family: 'Gill Sans Bold';
            font-style: normal;
            font-weight: 400;
            src: url("http://www.iipl.work/fonts/Gill%20Sans%20Bold.otf") format("opentype");
        }

        @page {
            margin: 0 !important;
            padding: 0 !important;
        }

        html {
            zoom: 0.9;
        }

        body {
            font-family: 'Gill Sans';
            padding-top: 0;
        }

        .align-body tr td {
            page-break-inside: always !important;
        }
    </style>
</head>

<body>


    <!-- <div id="pageHeader-first">Header on first page</div> -->
    <!-- <div id="pageHeader-first">
       
        

    </div> -->
    <!-- <div id="pageHeader-2">
        
    </div> -->
    <table border="0" style="border-collapse:collapse;width:100%;font-size: 11px;" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style=" padding: 0; width:50%;font-size: 11px; ">
                    <table style="padding: 5px ;width: 100%;font-size: 10px; margin-bottom: 5px;">
                        <tbody>
                            <tr> 
                                <td>
                                    <img src=<%= bankLogo %> alt="" class="logo"
                                    style="width:auto; height:90px">
                                    
                                </td>
                                
                            </tr>

                            <tr>
                                <td><span>STATEMENT PERIOD </span> <span><%= customer1.startDate%> To <%= customer1.endDate%> </span></td>
                            </tr>

                        </tbody>
                    </table>

                </td>
                <td style="text-align:left; padding: 5px;width:50%;">
                    <table style="border-collapse:collapse; width: 100%;letter-spacing: .8px;">
                        <tbody>
                            <tr>
                                <td></td>
                                <td style="width: 250px;text-align: right;font-weight: 600;font-size: 9px;">STATEMENT OF ACCOUNT</td>
                            </tr>
                            <tr style="font-size: 10px;">
                                <td style="width:150px">Branch</td>
                                <td style="float:right;"><%= customer1.branch%></td>
                            </tr>
                            <tr style="font-size: 10px;">
                                <td style="width:150px">Account</td>
                                <td style="float:right;"><%= customer1.accountNo%></td>

                            </tr>
                            <tr style="font-size: 10px;">
                                <td style="width:150px">Account Curency</td>
                                <td style="float:right;"><%= customer1.currency%></td>

                            </tr>
                            <tr style="font-size: 10px;">
                                <td style="width:150px">Accoun Type</td>
                                <td style="float:right;">CURRENT AC</td>
                            </tr>
                            <tr style="font-size: 10px;">
                                    <td style="width:150px">Stmt No.</td>
                                    <td style="float:right;"><%= customer1.stateNo%></td>
                                </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
           <tr>
               <td><hr style="border: 2px solid #4c92ed;margin:0;"></td>
               <td><hr style="border: 2px solid #4c92ed;margin:0;"></td>
            </tr>
            <tr>


                <td style=" padding: 0; width:50%;font-size: 11px; ">


                    <table style="padding: 5px ;width: 100%;font-size: 10px; margin-bottom: 5px;">
                        <tbody>
                            <tr>
                                <td><%= customer.address1%> </td>
                            </tr>

                            <tr>
                                <td><%= customer.address2%></td>
                            </tr>
                            <tr>
                                <td>
                                        <%= customer.address3%>
                                </td>
                            </tr>
                            <tr>
                                <td> NAIROBI</td>
                            </tr>
                            <tr>
                                <td> 00200</td>
                            </tr>
                           

                        </tbody>
                    </table>

                </td>
                <td style="text-align:left; padding: 5px;width:50%;">
                    <table style="border-collapse:collapse; width: 100%;letter-spacing: .8px;">
                        <tbody>
                            <tr style="font-size: 10px;">
                                <td style="width:150px">Opening Balance</td>
                                <td style="float:right;"><%= dataset.OpeningBalance %></td>

                            </tr>
                            <tr style="font-size: 10px;">
                                <td style="width:150px">Total Credits</td>
                                <td style="float:right;"><%= dataset.TotalCredits %></td>

                            </tr>
                            <tr style="font-size: 10px;">
                                <td style="width:150px">Total Debits</td>
                                <td style="float:right;"><%= dataset.TotalDebits %></td>

                            </tr>
                            <tr style="font-size: 10px;">
                                <td style="width:150px">Actual Balance</td>
                                <td style="float:right;"><%= dataset.ActualBalance %></td>

                            </tr>


                        </tbody>


                    </table>

                </td>
            </tr>


        </tbody>

    </table>


    <table border="0" style="border-collapse:collapse;width:100%;font-size: 11px;border-bottom: 1px solid #000000"
        cellpadding="0" cellspacing="0">

        <tbody style="vertical-align:baseline;" class="align-body">
            <tr style="background-color: #4c92ed;color:#ffffff">
                <th style="text-align:left; font-family: 'Gill Sans Bold';font-size:10px;font-weight:bold;vertical-align: middle; padding: 5px;"
                    width="63px">Booking Date</th>
                <th style="text-align:left; font-family: 'Gill Sans Bold';font-size:10px;font-weight:bold;vertical-align: middle; padding: 5px;"
                    width="63px">Value Date</th>
                <th style="text-align:left; font-family: 'Gill Sans Bold';font-size:10px;font-weight:bold;vertical-align: middle; padding: 5px;"
                    width="80px">Transaction Ref</th>
                <!-- <th style="text-align:center; font-family: 'Gill Sans Bold';font-size:10px;font-weight:bold;vertical-align: middle; padding: 5px;" width="80px">Cheque No</th> -->
                <th style="text-align:left; font-family: 'Gill Sans Bold';font-size:10px;font-weight:bold;vertical-align: middle; padding: 5px;"
                    width="70px">Transaction Details</th>
                <th style="text-align:right; font-family: 'Gill Sans Bold';font-size:10px;font-weight:bold;vertical-align: middle; padding: 5px;"
                    width="70px">Withdrawal</th>
                <th style="text-align:right; font-family: 'Gill Sans Bold';font-size:10px;font-weight:bold;vertical-align: middle; padding: 5px;"
                    width="70px">Deposit</th>
                <th style="text-align:right; font-family: 'Gill Sans Bold';font-size:10px;font-weight:bold;vertical-align: middle; padding: 5px;"
                    width="70px"> Closing Bal</th>

            </tr>



            <% for(var i=0; i < data.length; i++) { %>


                <tr>
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: left">
                        <%= data[i].StatementBookingDate %>
                    </td>
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: left">
                            
                        <%= data[i].StatementValueDate %>
                        
                    </td>
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: left">
                        <%= data[i].StatementTxnReference %>
                    </td>
                    <!-- <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: left">
                        <%= data[i].StatementChequeNumber %>
                    </td> -->
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: left" >
                      
                       <% if(data[i].StatementNarrative.length > 1) { %>
                        
                            <% for (let index = 0; index < data[i].StatementNarrative.length; index++) { %>
          
        
                                <%= data[i].StatementNarrative[index] %> <br> 
                            <% } %>
                        <% }  %>   
                        
                        <% if(data[i].StatementNarrative.length == 1) { %>
                            <%= data[i].StatementNarrative[0] %>
                        <% }  %> 
                        
                        <% if(data[i].StatementChequeNumber) { %>
                            <% if(data[i].StatementNarrative.length > 1){ %>
                                Chq No:<%= data[i].StatementChequeNumber %>
                            <% }else{  %>    
                            <br>Chq No:<%= data[i].StatementChequeNumber %>
                            <% }  %> 
                        <% } %> 
                        
                    </td>
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: right;">
                        <%= data[i].StatementWithdrawal %>
                    </td>
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: right;">
                        <%= data[i].StatementLodgement %>
                    </td>
                    <td style="padding:3px 5px; border-bottom:0; font-size:9px;text-align: right">
                        <%= data[i].StatementRunningBalance %> 
                    </td>
                </tr>
                <% } %>


        </tbody>
    </table>


    <div id="pageFooter">
        <table style="border-collapse:collapse;width:100%;" cellpadding="0" cellspacing="0">
            <tbody>
                    <tr>
                            <td><hr style="border: 1px solid #4c92ed;"></td>
                            <td><hr style="border: 1px solid #4c92ed;"></td>
                         </tr>
                <tr>
                    <td style="text-align:left;width:100%;font-size: 11px;">
                        Dear Customer, you can now pay your Insurance premiums in flexible installments through our
                        Insurance Premium Financing solution. Apply today and
                        get affordable interest rates approved within 48 hours. For more information, call us on
                        0711041111 or email us on customercare@nicgroup.com /
                        IPF3@nicgroup.com
                    </td>
                </tr>

            </tbody>

        </table>
        <center style="font-size: 9px; margin-top: 10px;">Page No : {{page}}</center>

    </div>

</body>

</html>