<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        /* latin */
        @font-face {
            font-family: 'Gill Sans';
            font-style: normal;
            font-weight: 400;
            src: url("http://www.iipl.work/fonts/Gill%20Sans.otf") format("opentype");
        }

        @font-face {
            font-family: 'Gill Sans Bold';
            font-style: normal;
            font-weight: 400;
            src: url("http://www.iipl.work/fonts/Gill%20Sans%20Bold.otf") format("opentype");
        }

        @page {
            margin: 0 !important;
            padding: 0 !important;
        }

        html {
            zoom: 0.9;
        }

        body {
            font-family: 'Gill Sans';
            padding-top: 0;
        }

        .align-body tr td {
            page-break-inside: always !important;
        }
    </style>
</head>

<body>


    <!-- <div id="pageHeader-first">Header on first page</div> -->
    <!-- <div id="pageHeader-first">
       
        

    </div> -->
    <!-- <div id="pageHeader-2">
        
    </div> -->
    <table border="0" style="border-collapse:collapse;width:100%;font-size: 13px;" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style=" padding: 0; width:100%;font-size: 11px; ">
                    <table style="padding: 5px ;width: 100%;font-size: 10px; margin-bottom: 5px;position: relative;">
                        <tbody>
                            <tr>
                                <td style="text-align: center">
                                    <img src=<%= bankLogo %> alt="" class="logo"
                                    style="widows: 60px; height:90px">

                                </td>
                                <td style="text-align: right;position: absolute;right: 0;bottom: 20px;font-size: 13px;">
                                    <span><%= currentDate[0] %>  </span><br> <span><%= currentDate[1] %>  </span></td>
                            </tr>


                        </tbody>
                    </table>

                </td>

            </tr>
            <tr>
                <td>
                    <hr style="border: 1px solid #000000;margin:0;">
                </td>
                <td>
                    <hr style="border: 1px solid #000000;margin:0;">
                </td>
            </tr>
            <tr style="text-align: right">
                <td style="padding: 6px 0">P.O.BOX 5555, Addis Ababa</td>
            </tr>
            <tr style="text-align: center">
                <td style="padding: 0 0 6px 0; font-weight: 600;font-size: 18px">Account Statement Report : <%= customer1.branch%>
                </td>
            </tr>
            <tr>
                <td style="text-align:left;width:100%;">
                    <table
                        style="border-collapse:collapse;letter-spacing: .8px;line-height:20px;font-weight: 600; font-size: 13px">
                        <tbody>
                            <tr>
                                <td style="vertical-align: top">Customer Id : </td>
                                <td><%= customer1.id %></td>

                            </tr>
                            <tr>
                                <td style="vertical-align: top">Customer Name : </td>
                                <td><%= customer.name %></td>

                            </tr>
                            <tr>
                                <td style="vertical-align: top">Address : </td>
                                <td><%= customer.address1 %>, <br> <%= customer.address2 %>, <br><%= customer.address3 %> </td>

                            </tr>


                        </tbody>


                    </table>

                </td>



            </tr>
            <tr style="text-align: left">
                <td style="font-weight:600;font-size:14px;padding: 10px 0;">Statement of Transaction For the period From
                    <%= customer1.startDate%> To <%= customer1.endDate%></td>
            </tr>
            <tr>
                <td style="text-align:left;width:100%;">
                    <table style="border-collapse:collapse;letter-spacing: .8px;line-height:22px; font-size: 13px">
                        <tbody>
                            <tr>
                                <td
                                    style="background-color: #cacaca;vertical-align: top; font-weight: 600; text-align: right;padding-right: 3px;">
                                    Account </td>
                                <td style="padding-left: 3px;font-weight: 100;font-size: 14px;"><span>:  <%= customer1.accountNo%></span>
                                    <span><%= customer.name %></span></td>

                            </tr>
                            <tr>
                                <td
                                    style="background-color: #cacaca;vertical-align: top; font-weight: 600; text-align: right;padding-right: 3px;">
                                    Currency </td>
                                <td style="padding-left: 3px;font-weight: 100;font-size: 14px;">: <%= customer1.currency%></td>

                            </tr>
                            <tr>
                                <td
                                    style="background-color: #cacaca;vertical-align: top; font-weight: 600; text-align: right;padding-right: 3px;">
                                    Account Type </td>
                                <td style="padding-left: 3px;font-weight: 100;font-size: 14px;">: Saving Account Staff
                                </td>

                            </tr>


                        </tbody>


                    </table>

                </td>



            </tr>

        </tbody>

    </table>


    <table border="1" style="border-collapse:collapse;width:100%;font-size: 13px;border-bottom: 1px solid #000000;margin-top: 15px; "
        cellpadding="0" cellspacing="0">

        <tbody style="vertical-align:baseline;" class="align-body">
            <tr style="background-color: #cacaca;color: #000000;">
                <th style="text-align:left; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                    width="50">Booking<br>Date</th>
                <th style="text-align:left; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                    width="50">Value Date</th>
                <th style="text-align:left; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                    width="90">Transaction Ref</th>
                <th style="text-align:left; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                    width="90">Transaction Details</th>
                
                <th style="text-align:right; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                    width="55">Withdrawl</th>
                <th style="text-align:right; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                    width="55"> Deposit</th>
                    <th style="text-align:right; font-family: 'Gill Sans Bold';font-weight:bold;vertical-align: middle; padding: 5px 0;text-align: center"
                    width="55"> Closing Bal</th>

            </tr>
            <tr style="background-color: #cacaca;color: #000000;">
                <td colspan="5" style="border-right: 0; padding: 5px;font-weight: 600">
                   Balance B/F
                      
                </td>
                <td colspan="2" style="border-left: 0; padding: 5px;font-weight: 600">
                    <%= dataset.OpeningBalance %>
                </td>
            
            </tr>
            <% for(var i=0; i < data.length; i++) { %>


                <tr>
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: left">
                        <%= data[i].StatementBookingDate %>
                    </td>
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: left">
                            
                        <%= data[i].StatementValueDate %>
                        
                    </td>
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: left">
                        <%= data[i].StatementTxnReference %>
                    </td>
                    <!-- <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: left">
                        <%= data[i].StatementChequeNumber %>
                    </td> -->
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: left" >
                      
                       <% if(data[i].StatementNarrative.length > 1) { %>
                        
                            <% for (let index = 0; index < data[i].StatementNarrative.length; index++) { %>
          
        
                                <%= data[i].StatementNarrative[index] %> <br> 
                            <% } %>
                        <% }  %>   
                        
                        <% if(data[i].StatementNarrative.length == 1) { %>
                            <%= data[i].StatementNarrative[0] %>
                        <% }  %> 
                        
                        <% if(data[i].StatementChequeNumber) { %>
                            <% if(data[i].StatementNarrative.length > 1){ %>
                                Chq No:<%= data[i].StatementChequeNumber %>
                            <% }else{  %>    
                            <br>Chq No:<%= data[i].StatementChequeNumber %>
                            <% }  %> 
                        <% } %> 
                        
                    </td>
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: right;">
                        <%= data[i].StatementWithdrawal %>
                    </td>
                    <td style=" border-right: 1px solid #000000;margin-bottom:2px;padding:3px 5px; border-bottom:0; font-size:9px;text-align: right;">
                        <%= data[i].StatementLodgement %>
                    </td>
                    <td style="padding:3px 5px; border-bottom:0; font-size:9px;text-align: right">
                        <%= data[i].StatementRunningBalance %> 
                    </td>
                </tr>
                <% } %>

            <tr style="font-weight: 600">
                <td style="padding: 4px;text-align: right" colspan="4">Total : </td>
                
                <td style="padding: 4px;text-align: right"><%= dataset.TotalDebits %></td>
                <td style="padding: 4px;text-align: right"><%= dataset.TotalCredits %></td>
                <td style="padding: 4px;text-align: right"><%= dataset.ActualBalance %></td>
            </tr>
            <tr style="background-color: #cacaca;font-weight:600">
                <td style="padding: 4px;text-align: left" colspan="4">Balance C/F </td>
                
                <td style="padding: 4px;text-align: center" colspan="3"><%= dataset.ActualBalance %></td>
            </tr>
        </tbody>
    </table>


    <div id="pageFooter">

        <center style="font-size: 13px; margin-top: 10px;"> {{page}} of {{pages}}</center>

    </div>

</body>

</html>