<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* latin */
        @font-face {
            font-family: 'Gill Sans';
            font-style: normal;
            font-weight: 400;
            src: url("https://happimobiles.s3.ap-south-1.amazonaws.com/GillSans/Gill+Sans.otf") format("opentype");
        }
        @font-face {
            font-family: 'Gill Sans Bold';
            font-style: normal;
            font-weight: 400;
            src: url("https://happimobiles.s3.ap-south-1.amazonaws.com/GillSans/Gill+Sans+Bold.otf") format("opentype");
        }
        @page {
            margin: 0 !important;
            padding: 0 !important;
        }
        html {
            zoom: 0.9;
        }
        body {
            font-family: 'Gill Sans';
            padding-top: 0;
        }
        .align-body tr td {
            page-break-inside: always !important;
        }
        .single-tb {background-color: #f2f2f2;}
    </style>
</head>
<body>
    <table border="0" style="border-collapse:collapse;width:100%;margin:auto;font-size: 13px;" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style=" padding: 0; width:100%;font-size: 11px; ">
                    <table style="padding: 5px ;width: 100%;font-size: 10px; margin-bottom: 5px;position: relative;">
                        <tbody>
                            <tr>
                                <td style="width: 60%;">
                                    <img src=<%= bankLogo %> alt="" class="logo"
                                        style="widows: auto; height:60px">
                                </td>
                                    <td style="text-align:left;width:100%;">
                                        <table style="border-collapse:collapse;letter-spacing: .8px;font-weight: 600; font-size: 13px;border-radius: 15px;">
                                            <tbody>
                                                <tr>
                                                    <td><b>Address : </b>ABYSETAA, Addis Ababa,Ethiopia
                                                        HQ Buildling,The Gambia Road,Legehar Addis Ababa, Ethiopia. </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <hr style="border: 2px solid #eea62a;margin:0;">
                </td>
                <td>
                    <hr style="border: 1px solid #000000;margin:0;">
                </td>
            </tr>
            <tr>
                <td> <br></td>
            </tr>
            <tr style="text-align: center;">
                <td style="padding: 6px 0;background-color: #eeaa0d;color: #ffffff;font-size: 18px;font-weight: 600;letter-spacing: .8px; overflow: hidden;border-radius: 15px;">Account Statement</td>
            </tr>
            <tr>
                <td> <br></td>
            </tr>
            <tr>
                <td style="text-align:left;width:100%;">
                    <table  style="border-collapse:collapse;width:100%;font-size: 11px;margin-top: 15px; "
                    cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr style="background-color: eeaa0d;">
                                <td colspan="2" style="background-color: #eeaa0d;text-align: center;padding: 5px;">
                                    Account Statement
                                </td>
                                <td colspan="2" style="background-color: #eeaa0d;text-align: center;padding: 5px;">
                                    Account Details
                                </td>
                            </tr>
                            <tr>
                                
                                <td style="font-weight:600;padding:5px;">Statement Period </td>
                                <td style="padding:5px;">From: <%= customer1.startDate%> To: <%= customer1.endDate%></td>
                                <td style="font-weight:600;padding:5px;">Account Holder</td>
                                <td style="padding:5px;"><%= customer.name%></td>
                                
                            </tr>
                            <tr>
                                <td style="background-color: #f2f2f2;font-weight:600;padding:5px;">Currency </td>
                                <td style="background-color: #f2f2f2;padding:5px;"><%= customer1.currency%></td>
                                <td style="background-color: #f2f2f2;font-weight:600;padding:5px;">A/C Opening Date  </td>
                                <td style="background-color: #f2f2f2;padding:5px;"><%= customer1.accountOpendate %></td>
                              
                            </tr>
                            <tr>
                                <td style=" font-weight:600;padding:5px;">Beginning Balance </td>
                                <td style=" padding:5px;"> <%= dataset.OpeningBalance %> </td>
                                <td style=" font-weight:600;padding:5px;">Account No  </td>
                                <td style=" padding:5px;"><%= customer1.accountNo%></td>
                            
                            </tr>
                            <tr>
                                
                                <td style="background-color: #f2f2f2;font-weight:600;padding:5px;">Ending Balance  </td>
                                <td style="background-color: #f2f2f2;padding:5px;"><%= dataset.ActualBalance %></td>
                                <td style="background-color: #f2f2f2;font-weight:600;padding:5px;">Account Type  </td>
                                <td style="background-color: #f2f2f2;padding:5px;">Saving Account Staff</td>
                            </tr>
                            <tr>
                                <td style="font-weight:600;padding:5px;">Generated Date </td>
                                <td style="padding:5px;"><%= currentDate[0] %> </td>
                                <td style="font-weight:600;padding:5px;">Customer Address </td>
                                <td style="padding:5px;"><%= customer.address1 %>, <%= customer.address2 %>, <%= customer.address3 %> </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr><td><br></td></tr>
            <tr style="margin:10px 0 5px 0;">
                <td style="font-size: 17px;font-weight: 600;text-align: center;">Welcome to Bank of Abyssinia</td>
            </tr>
            <tr><td><br></td></tr>
            <tr style="margin:10px 0 5px 0;">
                <td style="  font-size: 17px;font-weight: 600;  ">Disclaimer,</td>
            </tr>
            <tr><td><br></td></tr>
            <tr style="margin:10px 0 5px 0;"> 
                <td><b>General :</b> This document has been generated through Smart
                        Statement System.The information contained in this document is
                        computer generated with no legal validity.
                   </td>
            </tr>
            <tr><td><br></td></tr>
            <tr style="margin:10px 0 5px 0;">
                <td> <b>E-Mail Address:</b> Customer agrees to maintain a valid e-mail address to
                        receive the Smart Statement notifications. Customer agrees to notify
                        the Bank immediately if they are unable to access the Smart Statement
                        that has been delivered by the Bank of Abyssinia in an electronic
                        format. If the customer wishes to change their e-mail address, they
                        must notify the Bank by visiting the Bank branch.
                        </td>
            </tr>
            <tr><td><br></td></tr>
            <tr style="margin:10px 0 5px 0;"> 
                <td><b>Security :</b>
                     Customer agrees to protect the access to the System and to
                    the e-mail program, including the storing of the customers Access
                    passwords in a secure location or committed to memory.
                                       </td>
            </tr>
        </tbody>
    </table>
    <div id="pageFooter">
        <center style="font-size: 13px; margin-top: 10px;"> <%= pageCount %> of <%= totalPages %></center>
    </div>
</body>
</html>